<h3>Select Date range</h3>
<%= form_with url: admin_reports_url, method: :get do |form| %>
  <%= form.label :from, "From:" %>
  <%= form.date_field :from %>
  <br>
  <%= form.label :to, "To:" %>
  <%= form.date_field :to %>
  <br>
  <%= form.submit %>
<% end %>
<% @order.each_with_index do |order, index| %>
  <h2>Order#<%= index + 1 %></h2>
  <%= render partial: 'orders/order', object: order %>
<% end %>
