<div id="<%= dom_id product %>">

<div class="slider">
  <%= image_tag(product.images.to_a.first, class: 'slider-img') if product.images.to_a.first %>
  <%= image_tag(product.images.to_a.second, class: 'slider-img') if product.images.to_a.second %>
  <%= image_tag(product.images.to_a.third, class: 'slider-img') if product.images.to_a.third %>
</div>
<div class="navigation-button">
  <span class="dot active"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <td class="actions">
          <ul>
            <li><%= link_to 'Show', product %></li>
            <li><%= link_to 'Edit', edit_product_path(product) %></li>
            <li>
              <%= link_to 'Destroy',  product,
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
</div>
<br
