<div id="<%= dom_id product %>">

<div class="slider">
<% product.images.to_a.each do |img| %>
  <%= image_tag(img, class: 'slider-img') if img.present? %>
  <% end %>
</div>
<div class="navigation-button">
  <span class="dot active"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= product.image_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <td class="actions">
          <ul>
            <li><%= link_to 'Edit', edit_product_path(product) %></li>
            <li>
              <%= link_to 'Destroy',  product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
</div>
<br
